token = "YOUR TOKEN"


[[filters]]
  [[filters.regexp_list]]
    query = "fail"
    flags = "im"
  [[filters.regexp_list]]
    query = "error"
    flags = "i"

  [filters.channel]
    id = "CHANNEL1 ID"
    name = "CHANNEL1 NAME"


[[filters]]
  [[filters.regexp_list]]
    query = "test\d"
    flags = "im"

  [filters.channel]
    id = "CHANNEL2 ID"
    name = "CHANNEL2 NAME"
